body {
  margin: auto;
  width: 90%;
}

a {
  color: black;
}
a:hover {
  color: black;
}

.head-element {
  text-align: center;
  margin: auto;
}

.bookBlock {
  display: inline-grid;
}

.bookCover {
  width: 10rem;
}

.imageClass {
  width: 100%;
}

.bookDescription {
  min-height: 100px;
}

.bookList {
  align-items: center;
  margin: auto;
}

.titleText, .authorText, .priceText {
  margin: 0;
}

.titleText {
  font-size: medium;
  font-weight: bold;
}

.authorText, .priceText {
  font-size: small;
}

#dropdownMenuButton {
  font-size: small;
  height: auto;
}
